<ng-container *ngIf="breadCrumb$ | async as breadCrumbs">
  <section
    *ngIf="
      breadCrumbs.length > 0 &&
      breadCrumbs[breadCrumbs.length - 1].label !== 'Home'
    "
    class="lightSection clearfix pageHeader mb-5"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="page-title">
            <h2>
              {{
                breadCrumbs.length > 0 &&
                  breadCrumbs[breadCrumbs.length - 1].label
              }}
            </h2>
          </div>
        </div>
        <div class="col-md-6">
          <xng-breadcrumb></xng-breadcrumb>
        </div>
      </div>
    </div>
  </section>
</ng-container>
